<!--We can get this beans config from spring 6 documentation-->
<!--inside beans create bean with id and class name of the class that you want-->
<!--spring to create a bean-->

<!--Scope:-->

<!--This is an important concept. We have two types of scopes Singleton and Prototype.-->
<!--If you want spring to create only one object for your class, use Singleton. -->
<!--If you want more than one use Prototype. By default it is singleton, so if you-->
<!--do not mention any it will be singleton. -->

<!--When it is prototype, then object will be created only after we get bean with getBean-->
<!--so based on number of times we create that much bean will be created-->


<!--Setter Injection:-->

<!--This is a concept where we set our property value in xml itself. When we set it,-->
<!--it first calls the setter method in our class and sets our value-->


<!--Ref Attribute:-->

<!--Let's say we need to handle non primitive data in our class like in our case-->
<!--Laptop Object. We first create a bean for it in xml and we pass its id to our ref-->
<!--attribute of our Alien class. In this way both the class are wired and Laptop object-->
<!--is created and can be used in our Alien class-->


<!--Constructor Argument:-->

<!--This concept is when you want spring to set values in parameterized constructor-->
<!--we can use this <constructor-arg> , Ususally it will set based on sequence, so if first-->
<!--argument is age , put the sequence of age in first. Other way is you can mention -->
<!--index for them starting from 0-->

<!--If you want to have mandatory values use Constructor injection else go for -->
<!--setter injections-->

<!--Autowire:-->

<!--Autowire is concept used to wire an object to a class when there are multiple objects-->
<!--defined. We can autowire either byName or byType. When we set autowire to "byName"-->
<!--Spring looks for bean that is defined with the name that is defined in Alien class,-->
<!--in our case computer, if it matches then it prints that. If we explicitly mention-->
<!--property with setter injection, setter injection precedes over autowire.-->


<!--Primary bean:-->

<!--With primary bean concept , let say we are giving autowire to be "byType" and now-->
<!--we have let's say two beans Laptop and Desktop both are of type Computer here.-->
<!--Hence here spring throws an error that there are two types with Computer. Hence-->
<!--to fix this problem we can mention primary="true" in one of the bean so that if it -->
<!--looks on two beans defined ,it takes the primary one-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--    <bean id="alien" class="com.teluskoLearning.Alien" scope="prototype">-->

    <bean id="alien" class="com.teluskoLearning.Alien" autowire="byType">
        <property name="age" value="21" />
<!--<property name="computer" ref="computer1" /> &lt;!&ndash;name should be equivalent to the one defined in class&ndash;&gt;-->

        <!--        <constructor-arg type="int" value="21" />-->
<!--        <constructor-arg type="com.teluskoLearning.Laptop" ref="lap1" />-->

<!--        <constructor-arg index="1" ref="lap1" />-->
<!--        <constructor-arg index="0" value="21" />-->

    </bean>

    <bean id="computer1" class="com.teluskoLearning.Laptop" primary="true">
    </bean>
    <bean id="computer" class="com.teluskoLearning.Desktop">
    </bean>
</beans>

